{# 页首登陆注册 #}
{% extends 'base_model.html' %}
{% load static %}
{% block title %}
    音乐推荐【体验版】
{% endblock %}

{% block in_style %}
{#    <link rel="stylesheet" href="{% static 'css/新拟态.css' %}">#}
    <style>
    .xnt{
    {#width: 700px;#}
    {#height: 600px;#}
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    }
    .xnt .box{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        align-content: center;
        width: 140px;
        height: 200px;
        margin: 20px;
    }
    .xnt .box .img{
        width: 140px;
        height: 200px;
        box-shadow: 18px 18px 30px rgba(0, 0, 0, 0.1), -18px -18px 30px rgba(255, 255, 255, 1);
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #efeeee;
        transition: box-shadow .1s ease-out;
        position: relative;
    }

    .xnt .box .img  img{
        width: 120px;
        transition: width 0.1s ease-out;
    }
    .xnt .box p{
        color: slategrey;
    }
    .xnt .box .img:hover{
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2),
        0px 0px 0px rgba(255, 255, 255, 0.8),
        inset 18px 18px 30px rgba(0, 0, 0, 0.1),
        inset -18px -18px 30px rgba(255, 255, 255, 1);
        transition: box-shadow .1s ease-out;
    }
    .xnt .box .img:hover img{
        width: 118px;
        transition: width 0.1s ease-out;
    }
    </style>
{% endblock %}

{# 主体部分块 #}
{% block main_body %}
<div align="center"><h1 class="form-signin-heading">歌手推荐</h1><a href="{% url 'singer:show_singer_list' %}">查看所有歌手</a><br><br></div>
    <div class="xnt">
        <div class="box">
            <div class="img">
                <a href="{% url 'singer:singer_details' tools_man_img.id %}">
                    <img src="{{ tools_man_img.image_URL }}" class="img-circle" >
                </a>
            </div>
            <p>
            <h4 class="form-signin-heading">{{ tools_man_information.name }}</h4>
            </p>
        </div>
    </div>


    <div class="container">
        <div align="center">
            欢迎来到音乐推荐平台【体验版】，现在是<h1>{{ now_time }}</h1>
            <br>

            <div class="row">
                <div class="col-md-3">
                    <img src="{% static 'images/music/林俊杰_专辑1.JPG' %}" class="img-thumbnail" width="200" height="200"><br>
                    <h4 class="form-signin-heading">林俊杰  《和自己对话 From M.E. To Myself》</h4>
                    <h2 class="form-signin-heading">Too Bad</h2>
                </div>
                <div class="col-md-3">
                    <img src="{% static 'images/music/林俊杰_专辑2.JPG' %}" class="img-thumbnail" width="200" height="200"><br>
                    <h4 class="form-signin-heading">林俊杰  《对的时间点/As I Believe》</h4>
                    <h2 class="form-signin-heading">对的时间点</h2>
                </div>
                <div class="col-md-3">
                    <img src="{% static 'images/music/林俊杰_专辑3.JPG' %}" class="img-thumbnail" width="200" height="200"><br>
                    <h4 class="form-signin-heading">林俊杰  《因你而在》</h4>
                    <h2 class="form-signin-heading">裂缝中的阳光</h2>
                </div>
                <div class="col-md-3">
                    <img src="{% static 'images/music/林俊杰_专辑4.JPG' %}" class="img-thumbnail" width="200" height="200"><br>
                    <h4 class="form-signin-heading">林俊杰  《伟大的渺小》</h4>
                    <h2 class="form-signin-heading">丹宁执着</h2>
                </div>
            </div>
            <div class="row">

            </div>
        </div>
    </div>
<br><br><br><br>





    <div class="container">
        <div align="center">
            <h1 class="form-signin-heading">歌曲信息输出实验</h1><br>
            1、歌手遍历测试【测试内容：基本文字信息、头像】<br>
            歌手：{{ tools_man_information.name }}<br>
            性别：{{ tools_man_information.gender }}<br>
            头像：<img src="{{ tools_man_img.image_URL }}" class="img-circle" width="100" height="100"><br>
            <font color="red">出现的问题：<br>
            1、objects.get()中，条件不能是ForeignKey()，因为他不在要遍历的表中，他只是一种关系的表达；<br>
            2、跨表联查可以用id（系统自动生成的id）进行查询；</font><br>
            2、专辑信息遍历实验<br>
        </div>
    </div>

{% endblock %}