{% extends 'base_model.html' %}

{% block title %}
    订单列表
{% endblock %}

{% block main_head %}

{% endblock %}

{% block main_body %}
<div class="container">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          未支付的订单列表 <span class="badge">{{ count_wzf|length }}</span>
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
            {% for a in dd_list %}
                {% if a.is_paid == '未支付' %}
                   <h2> 订单号：{{ a.dingdanhao }}<br>
                    价格:{{ a.price }}<br>
                    {% for b in wupin_id %}
                        {% if a.baoxian_id == b.id %}
                            商品信息：{{ b.name }}
                        {% endif %}
                    {% endfor %}<br>
                       订单状态：<font color="red">{{ a.is_paid }}</font></h2>
                        {% if user.username == 'wuhuaqiang' %}
                            <a href="{% url 'baoxian:pay' a.id %}" class="btn btn-success">支付</a>
                        {% elif user.username == 'wuhuaqiang_ceo' %}

                        {% elif user.username == 'lizhixin_ceo' %}
                            <a href="{% url 'ck_cangku:pay' a.id %}" class="btn btn-success">支付</a>
                        {% elif user.username == 'lizhixin' %}
                            <a href="{% url 'ck_cangku:pay' a.id %}" class="btn btn-success">支付</a>
                        {% endif %}
                    <hr>
                {% endif %}
            {% endfor %}
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          已支付的订单列表 <span class="badge">{{ count_yzf|length }}</span>
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
            {% for a in dd_list %}
                {% if a.is_paid == '已支付' %}
                    <h2>订单号：{{ a.dingdanhao }}<br>
                    价格:{{ a.price }}<br>
                    {% for b in wupin_id %}
                        {% if a.baoxian_id == b.id %}
                            商品信息：{{ b.name }}
                        {% endif %}
                    {% endfor %}<br>
                        订单状态：<font color="green">{{ a.is_paid }}</font></h2>
                    <hr>
                {% endif %}
            {% endfor %}
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          查看所有订单 <span class="badge">{{ dd_list|length }}</span>
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
            {% for a in dd_list %}
                <h2>订单号：{{ a.dingdanhao }}<br>
                价格:{{ a.price }}<br>
                {% for b in wupin_id %}
                        {% if a.baoxian_id == b.id %}
                            商品信息：{{ b.name }}
                        {% endif %}
                    {% endfor %}<br>
                {% if a.is_paid == '已支付' %}
                    订单状态：<font color="green">{{ a.is_paid }}</font></h2>
                {% elif a.is_paid == '未支付' %}
                    订单状态：<font color="red">{{ a.is_paid }}</font></h2>
                    {% if user.username == 'wuhuaqiang' %}
                            <a href="{% url 'baoxian:pay' a.id %}" class="btn btn-success">支付</a>
                        {% elif user.username == 'wuhuaqiang_ceo' %}

                        {% elif user.username == 'lizhixin_ceo' %}
                            <a href="{% url 'ck_cangku:pay' a.id %}" class="btn btn-success">支付</a>
                        {% elif user.username == 'lizhixin' %}
                            <a href="{% url 'ck_cangku:pay' a.id %}" class="btn btn-success">支付</a>
                        {% endif %}
                {% endif %}
                <hr>
            {% endfor %}
      </div>
    </div>
  </div>

    </div>
</div>



{% endblock %}