{% extends 'base_model.html' %}

{% block title %}
登录
{% endblock title %}



{% block script %}
    {% if username %}
        <script>
            alert("你的激活信息以发送至你的注册邮箱，时效五分钟，请尽快激活！");
        </script>
    {% endif %}
{% endblock %}

{% block main_body %}
{# 不设置action时，提交表单时，会向浏览器地址栏提交数据 #}
    <div class="container">
    <div align="center">
        <form class="form-signin" method="post">
        {% csrf_token %}
        <h3 class="form-signin-heading">登录</h3><br>
            <label class="sr-only">账号</label>
            <input type="text" name="username" value="{{ username }}" class="form-control" {% if username_errmsg %}placeholder="{{ username_errmsg }}"{% else %}placeholder="请输入用户名"{% endif %}>
{#            <font color="red">{{ username_errmsg }}</font>#}
            <label class="sr-only">密码</label>
            <input type="password" name="password" class="form-control" {% if password_errmsg %}placeholder="{{ password_errmsg }}"{% else %}placeholder="请输入密码"{% endif %}>
{#            <font color="red">{{ password_errmsg }}</font>#}
            <label>
        <input type="checkbox" name="remember" {{ checked }}> 记住用户名
            </label>
                <br>
        <button class="btn btn-lg btn-primary btn-block">登录</button><br>

        <label>还没账号？前往<a href="/user/register">注册。。。</a></label><br>
            <font color="red">{{ errmsg }}</font>
            <br>
            <br>
        </form>
    </div>
    </div>


{% endblock main_body %}