{% extends 'base_model.html' %}



{% block script %}
{% endblock script %}

{% block main_body %}

    <div class="container">

        <div align="center">
            <table border="3" width="60%" height="274">
                 <tr>
                    <td width="109" align="center" valign="top">
                        <p align="center"><a class="click_active" id="1" href="{% url 'user:user_center' %}">账号信息</a></p>
                        <p align="center"><a class="click_active" id="2" href="{% url 'user:user_addr' %}">地址管理</a></p>
                        <p align="center"><a class="click_active" id="3" href="{% url 'user:user_ord' %}">浏览记录</a></p>
                    </td>
                     <td valign="top">
                             <div>
                                 {% block info %}
                                 {% endblock %}
                                 {% block add %}
                                 {% endblock %}
                                 {% block ord %}
                                 {% endblock %}
                             </div>
                     </td>
                </tr>
            </table>
        </div>
    </div>

{% endblock main_body%}